.wrapper {
  margin: 0 auto 80px;
}

.wrapper h2 {
  text-align: center;
  font-size: 45px;
  line-height: 55px;
  font-weight: 700;
  color: #0e0a38;
  margin-bottom: 30px;
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    max-width: 1320px !important;
  }
}
